.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightslategray;
  h1 {
    margin-left: 40px;
    margin-right: 40px;
  }

  // button {
  //   background-color: rgb(240, 233, 238);
  //   border: 0.5px grey;
  //   border-radius: 5px;
  //   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

  //   width: 60px;
  //   height: 30px;
  // }
}
