.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  h1 {
    margin-left: 40px;
    margin-right: 40px;
  }

  button {
    background-color: rgb(187, 177, 184);
    border: 0.5px solid grey;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

    width: 80px;
    height: 40px;
  }
}
