* {
  box-sizing: border-box;
  color: black;
}

.app {
  // text-align: center;
  background-color: #fcf9f9;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: rgb(6, 6, 6);
}

a:link {
  text-decoration: none;
}
